* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 1420px;
  padding: 40px 20px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}


h1 {
  margin: 0 auto 4rem;
  text-align: center;
}
.skeleton {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.skeleton {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media (max-width: 992px) {
  .skeleton {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .skeleton {
    grid-template-columns: repeat(1, 1fr);
  }
}